.hero{
    background: linear-gradient(#35343458, #9cd1efaf),url("/assets/images/slider/bg-hero.jpg")
   
    
    
}
.hero form{
    background-color: #a3a0a000
}
.h1{
    font-family:"Average Sans"
}
.p{
    font-family: "Kite One";
}